asgiref
certifi
charset-normalizer
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-storages
djangorestframework
djangorestframework_simplejwt
dj-database-url
gunicorn
idna
packaging
pillow
pip_system_certs
psycopg2-binary
PyJWT
python-decouple
razorpay
requests
sqlparse
tzdata
asgiref
certifi
charset-normalizer
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-storages
djangorestframework
djangorestframework_simplejwt
dj-database-url
gunicorn
idna
packaging
pillow
pip_system_certs
psycopg2-binary
PyJWT
python-decouple
razorpay
requests
sqlparse
tzdata
urllib3
boto3
whitenoise
celery
redis
django-allauth
requests-oauthlib
PyJWT
posthog
