Django>=5.0
asgiref
certifi
charset-normalizer
crispy-bootstrap5
django-cors-headers
django-crispy-forms
django-storages
djangorestframework
djangorestframework_simplejwt
dj-database-url
gunicorn
idna
packaging
pillow
psycopg2-binary
PyJWT
python-decouple
razorpay
requests
sqlparse
tzdata
urllib3
boto3
whitenoise
django-allauth[socialaccount]
requests-oauthlib
posthog
vercel-blob
